
h1{
    color:#aaddff;
}
li{
    color:rgba(200,30,0,0.8)
}
body{
    background :url(https://www.muralswallpaper.com/app/uploads/soft-wood-texture-plain-820x532.jpg);
    background-repeat:no-repeat;
   }