<%-include("partials/header.ejs")%>
<div class="ui main text container segment">
    <div class="ui huge header">New blog</div>
    <form action="/blogs" method="POST" class="ui form">
    <div class="field">
        <label>Title</label>
        <input type="text" name="blog[title]" placeholder="title">
    </div>
    <div class="field">
        <label>Image URL</label>
        <input type="text" name="blog[image]" placeholder="image">
    </div>
    <div class="field">
        <label>Blog content</label>
        <textarea name="blog[body]"></textarea>
    </div>   
        <input type="submit" class="ui teal basic button">
      </form>
    
</div>
<%-include("partials/footer.ejs")%>